* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*===== VARIABLES =====*/
  :root {
    --header-height: 4.5rem;
  
    /* colors */
    --hue: 345;
    /* HSL color mode */
    --base-color: hsl(var(--hue) 36% 70%);
    --base-color-second: #218e16;
    --base-color-alt: hsl(var(--hue) 57% 53%);
    --title-color: hsl(var(--hue) 41% 10%);
    --text-color: hsl(0 0% 46%);
    --text-color-light: hsl(0 0% 98%);
    --body-color: hsl(0 0% 98%);
  
    /* Fonts */
    --title-font-size: 1.875rem;
    --subtitle-font-size: 1rem;
  
    --title-font: 'Poppins', sans-serif;
    --body-font: 'DM Sans', sans-serif;
  }
  
  /*====== BASE ======*/
  html {
    scroll-behavior: smooth;
  }
  
  
  .container {
    margin: 0 1.5rem;
  }
  
  .grid {
    display: grid;
    gap: 2rem;
  }
  
  .section {
    padding: calc(4rem + var(--header-height)) 0;
  }
  
  .section .title {
    margin-bottom: 1rem;
  }
  
  .section .subtitle {
    font-size: var(--subtitle-font-size);
  }
  
  .section header {
    margin-bottom: 4rem;
  }
  
  .section header strong {
    color: green;
  }
  
  #header {
    border-bottom: 1px solid #e4e4e4;
    margin-bottom: 2rem;
    display: flex;
  
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background: var(--body-color);
    width: 100%;
  }
  
  /*======== Personalização by Frank ============*/
  #header.scroll {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
  }
  
  #header.scroll .logo span {
    color: green;
    transition: 0.4s;
  }
  
  #header.scroll .icon-menu {
    color: green;
    transition: 0.4s;
  }
  
  /*==== LOGO ====== */
  
  .logo {
    font: 700 1.31rem var(--title-font);
    color: var(--title-color);
  }
  
  .logo span {
    color: green;
  }
  
  .logo-alt span {
    color: var(--body-color);
  }
  
  /*==== NAVIGATION ====== */
  
  nav {
    height: var(--header-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  
  nav ul li {
    text-align: center;
  }
  
  nav ul li a {
    transition: color 0.2s;
    position: relative;
  }
  
  nav ul li a:hover,
  nav ul li a.active {
    color: green;
  }
  
  nav ul li a::after {
    content: '';
    width: 0%;
    height: 2px;
    background: green;
  
    position: absolute;
    left: 0;
    bottom: -1.5rem;
  
    transition: width 0.2s;
  }
  
  nav ul li a:hover::after,
  nav ul li a.active::after {
    width: 100%;
  }
  
  nav .menu {
    opacity: 0;
    visibility: hidden;
    top: -20rem;
    transition: 0.2s;
  }
  
  nav .menu ul {
    display: none;
  }
  
  /* Mostrar Menu */
  nav.show .menu {
    opacity: 1;
    visibility: visible;
  
    background: var(--body-color);
  
    height: 100vh;
    width: 100vw;
  
    position: fixed;
    top: 0;
    left: 0;
  
    display: grid;
    place-content: center;
  }
  
  nav.show .menu ul {
    display: grid;
  }
  
  nav.show ul.grid {
    gap: 2rem;
  }
  
  /* toggle menu */
  .toggle {
    color: green;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  nav .icon-close {
    visibility: hidden;
    opacity: 0;
  
    position: absolute;
    top: -1.5rem;
    right: 1.5rem;
  
    transition: 0.2s;
  }
  
  nav.show div.icon-close {
    visibility: visible;
    opacity: 1;
    top: 1.5rem;
  }

/* Ativar o modo escuro*/

/* Fim o modo escuro*/

/* Formmatando textos */

h2{
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}



body{

  background: var(--light);

}

@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Cards com noticas*/

.row{
  padding:0 20px;
  display:table;
}

section{
  float: left;
  width: 65%;
}

section h1 {

  margin-top: 10px;
  margin-bottom: 10px;
}


aside{
  float: left;
  width: 35%;
    padding-left: 20px;
    margin-bottom: 10px;
 
}

.card{
  background-color: var(--card);
  padding: 20px;
  margin-top: 20px;
}


.card img{

  width: 100%;
}
.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

.card button {
  background: linear-gradient(to right, #9F66FF, #DFCBFF);
}

mark{

  background-color:#DFCBFF;
}

footer {
  background: #23232e;
  margin-top: 20px;

}

span{
  color: #9F66FF;
}
footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: #cccccc;
  margin-bottom: 0.75rem;
}
footer .img {

  align-items: right;
}
footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  /* margin-right: 2rem; */
  transition: 0.3s;
  display: inline-block; /* precisa desse codigo para fazer a animação no icone*/
}

/*===== OR =====*/
/* O display flex irá habilitar opção 'gap' que irá dar espaçamento entre os elementos, no caso o ("a") */

footer .social {
  grid-auto-flow: column; /* Organizando icones com class .grid no .social */
  width: fit-content; /* ou seja, class="social grid" */
  /* display: flex; */ /* outra maneira de organizar icones com display flex*/
  /* gap: 2rem; */
}

/*usando tranformm3d para ter uma animação mais solta na tela */
footer .social a:hover {
  transform: translate3d(6px, -10px, 0);
}
/*Extra by john */
footer i:hover {
  transition: 0.3s;
  font-size: 1.75rem;
}


/* media querries dos cards*/

/* Tablet Celular*/

@media screen  and (max-width: 768px){
  section{
    
    width:100%;
    
  }
  aside{
    width: 100%;
    padding: 0;

  }

  iframe{
    width: 100%;
  }
}







