* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

  
  /*==== Barra de Navegação ====== */
  
  
  
  .logo {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
  }
  p{
    margin-bottom: 20px;
    
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #23232e;
    height: 8vh;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

/* Ativar o modo escuro*/

/* Fim o modo escuro*/

/* Formmatando textos */

h2{
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
}

a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}



body{

  background: var(--light);

}


/* Rodapé*/
.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background: orangered;
}

 
.footer p {
  font-family: 'Roboto Slab';
  font-size: 16px;
  text-align: center;
  margin: 20px;
  color: rgba(0, 0, 255, 0.527);
}

.footer-img {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  justify-content: center;
  width: 300px;
}

.footer-img img {
  padding: 10px;
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Cards com noticas*/

.row{
  padding:0 20px;
  display:table;
}

section{
  float: left;
  width: 65%;
}

section h1 {

  margin-top: 10px;
  margin-bottom: 10px;
}


aside{
  float: left;
  width: 35%;
    padding-left: 20px;
    margin-bottom: 10px;
 
}

.card{
  background-color: var(--card);
  padding: 20px;
  margin-top: 20px;
}


.card img{

  width: 100%;
}
.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 500;
  color: #fff;
  margin-bottom: 16px 0;
}

.card button {
  background: linear-gradient(to right, #9F66FF, #DFCBFF);
}

mark{

  background-color:#DFCBFF;
}

footer {
  background: #23232e;
  margin-top: 20px;

}

span{
  color: #9F66FF;
}
footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .brand p {
  color: #cccccc;
  margin-bottom: 0.75rem;
}
footer .img {

  align-items: right;
}
footer i {
  font-size: 1.5rem;
  color: var(--text-color-light);
}

footer .social a {
  /* margin-right: 2rem; */
  transition: 0.3s;
  display: inline-block; /* precisa desse codigo para fazer a animação no icone*/
}

/*===== OR =====*/
/* O display flex irá habilitar opção 'gap' que irá dar espaçamento entre os elementos, no caso o ("a") */

footer .social {
  grid-auto-flow: column; /* Organizando icones com class .grid no .social */
  width: fit-content; /* ou seja, class="social grid" */
  /* display: flex; */ /* outra maneira de organizar icones com display flex*/
  /* gap: 2rem; */
}

/*usando tranformm3d para ter uma animação mais solta na tela */
footer .social a:hover {
  transform: translate3d(6px, -10px, 0);
}
/*Extra by john */
footer i:hover {
  transition: 0.3s;
  font-size: 1.75rem;
}


/* media querries dos cards*/

/* Tablet Celular*/

@media screen  and (max-width: 768px){
  section{
    
    width:100%;
    
  }
  aside{
    width: 100%;
    padding: 0;

  }

  iframe{
    width: 100%;
  }
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #23232e;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}





