* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
  --light: #cccccc;
  --dark: #151515;
}
  
  /*==== Barra de Navegação ====== */
  
  
  
  .logo {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: 500;
  }
  p{
    margin-bottom: 20px;
    
  }
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: system-ui, -apple-system, Helvetica, Arial, sans-serif;
    background: #E8721A;
    height: 8vh;
    position: fixed;
    width: 100%;
    font-weight: 700;
  }
  
  
  .nav-list {
    list-style: none;
    display: flex;
  }
  
  .nav-list li {
    letter-spacing: 3px;
    margin-left: 32px;
  }
  
  .mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #140083;
    margin: 8px;
    transition: 0.3s;
    font-weight: 700;
    margin-right: 50px;
  }

/* Ativar o modo escuro*/
body {
  font-family: Arial, sans-serif;
  background: var(--color-bg);
}

body[data-theme="t-light"] {
  --color-bg: #f2f2f2;
  --color-bg2: #fff;
  --color-text: #333;
}

body[data-theme="t-dark"] {
  --color-bg: #333;
  --color-bg2: #dcdcdc;
  --color-text: #f2f2f2;
}

.my-title {
  color: var(--color-text);
}

.body {
  color: var(--color-text);
  background: var(--color-bg);
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
}





/* botão sol e lua*/


.navcontrast {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}

.label {
  background: linear-gradient(to right, #140083, #2596be);
  border-radius: 50px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  position: relative;
  height: 26px;
  width: 50px;
  transform: scale(1.0);
}
input{
  visibility: hidden
}
.label .ball {
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  height: 22px;
  width: 22px;
  transform: translateX(0px);
  transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
  transform: translateX(24px);
}

body.dark {
  background: var(--dark);

}

body.dark h1,
h2 {
    font-family: 'Roboto Slab';
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 1rem;
    font-weight: 900;
    text-shadow: 1px 1px;

}

h2 {
  font-family: 'Roboto Slab';
  font-size: 24px;
  color: #33383c;
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 900;
  text-shadow: 1px 1px;
 

}

body.dark p {
  color: white;
}


/* menu */

@media (max-width: 600px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    right: 0px;
    background:var(--color-bg);
    transition: 0.6s;
    z-index: 1000;
    height: 0px;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    height: calc(100vh - 70px);
    visibility: visible;
    overflow-y: auto;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  }
  #btn-mobile {
    display: flex;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    gap: 0.5rem;
  }
  #hamburger {
    border-top: 2px solid;
    width: 20px;
  }
  #hamburger::after,
  #hamburger::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
/* Fim o modo escuro*/

/* Formmatando textos */

h2{
  font-family: 'Roboto Slab', serif;
  text-align: left;
}

p{
  font-family: 'Poppins', sans-serif;
  text-align: justify;
  font-weight: 500;
}

a {
  color: #140083;
  text-decoration: none;
  transition: 0.3s;
  font-weight: 700;
}

a:hover {
  opacity: 0.7;
}





/* Rodapé*/
.footer {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  background: #E8721A;
  
}

 
.footer p {
  font-family: 'Roboto Slab';
  font-size: 16px;
  text-align: center;
  margin: 20px;
  color: #140083;
  font-weight: 700;
  
}

.footer-img {
  display: flex;
  flex-direction: row;
  object-fit: cover;
  justify-content: center;
  width: 100px;
}

.footer-img img {
  padding: 10px;
  width: 200px
}
@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    background: #E8721A; 
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

/* Cards com noticas*/

.row{
  padding:0 20px;
  display:table;
  background: var(--color-bg);
  
}

section{
  float: left;
  width: 65%;
}

section h1 {

  margin-top: 10px;
  margin-bottom: 10px;
}


aside{
  float: left;
  width: 35%;
    padding-left: 20px;
    margin-bottom: 10px;
    
 
}

.card{
  background-color: var(--color-bg);
  padding: 20px;
  margin-top: 20px;
  
}
.card p{
  color: var(--color-text);
}

.card h2{
  color: var(--color-text);
  margin-top: 100px;
}

.card img{

  width: 100%;
}
.card button {
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  border-radius: 32px;
  border: 0;
  cursor: pointer;
  font-size: 80%;
  font-weight: 700;
  color: var(--color-bg);
  margin-bottom: 16px 0;
}

.card button {
  background: linear-gradient(to right, #E8721A,orange);
}

mark{

  background-color:orange;
}

footer {
  
  margin-top: 20px;
  margin-bottom: 0;
}

footer.section {
  padding: 4rem 0;
}

footer .logo {
  display: inline-block;
  margin-bottom: 1.5rem;
}

footer .img {

  align-items: center;
}




/* media querries dos cards*/

/* Tablet Celular*/

@media screen  and (max-width: 768px){
  section{
    
    width:100%;
    
  }
  aside{
    width: 100%;
    padding: 0;

  }

  iframe{
    width: 100%;
  }
}


@media (max-width: 999px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 92vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .mobile-menu {
    display: block;
  }
}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}





